


*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'KeaniaOne';
    -webkit-text-fill-color: #387D32;
    color: #0f0;

}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #050505;
}
.attention {
    font-family: 'Glich';
    position: absolute;
    top: 0;
    left: 0;
    margin: 20px;
    text-shadow:
    -5px -5px 5px #ff41c6,
    5px 5px 2px #09daff,
    0px 0px 10px #ffffff;
    -webkit-text-stroke: .3px #c3f4ff;
    -webkit-text-fill-color: rgb(214, 214, 214);
    font-size: calc(1vmax + 1em);
    letter-spacing: .3vmax;
    animation: blip 1500ms ease-in infinite alternate;
}
@keyframes blip {
    from{
        text-shadow: 0px 0px 70px rgba(255,65,200,.8) ;
    }
    to{
        text-shadow: 0 0 30px rgba(35,218,250,.5);
        opacity: .3;
    }
}
.cube {
    position: relative;
    width: 120px;
    height: 120px;
    transform-style: preserve-3d;
    transform: rotateX(-30deg);
    animation: animate 10s linear infinite;
    
}
@keyframes animate {
    0%{
        transform: rotateX(-30deg) rotateY(0deg);
    }
    100%{
        transform: rotateX(-30deg) rotateY(360deg);
    }
}
.cube div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
}

.cube div span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #b8f2ff;
    box-shadow: 
    inset 0 0 40px 8px #9e8e01,
    inset 0 0 40px 18px #d6d302,
    inset 0 0 30px 28px #e6f847,
    inset 0 0 20px 38px #fffb16,
    inset 0 0 0px 1.8em #fcff42,
    inset 0 0 1px 30px rgb(254, 255, 186),
    0 0 16px 3px #fbff22;
    transform: rotateY(calc(90deg * var(--i))) translateZ(60px);
    display: flex;
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d;
}



.cube div span h2 {
    font-family: 'Averia';
    -webkit-text-stroke: .1px #8b8d01;
    -webkit-text-fill-color: transparent;
    position: absolute;
    transform: translateZ(4px);
    font-size: 2.5em;
   
    filter: blur(50px);
    /* text-shadow:
    0 0 10px #0a015a,
    0 0 30px #47c9ff; */
    opacity: 0;
    animation: glich404 2.5s infinite alternate;
}
@keyframes glich404 {
    0%{

    }
    100%{
        scale: 1.2;
        letter-spacing: 5px;
        opacity: 1;
        filter: blur(4px);
        
    }
}

/* .cube div span h2:nth-child(1) {
    transform: translateZ(0) translateY(20px);
    filter: blur(10px);
}  */


.top {
    position: absolute;
    top: 0;
    left: 0;
    width: 120px;
    height: 120px;
    background: #b8f2ff;
    box-shadow: 
    inset 0 0 40px 8px #9e8e01,
    inset 0 0 40px 18px #d6d302,
    inset 0 0 30px 28px #e6f847,
    inset 0 0 20px 38px #fffb16,
    inset 0 0 0px 1.8em #fcff42,
    inset 0 0 1px 30px rgb(254, 255, 186),
    0 0 16px 3px #fbff22;
    transform: rotateX(90deg) translateZ(60px);
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 10px;
}

.top h2 {
    font-family: 'KeaniaOne';
    position: absolute;
    font-size: 2.5em;
    transform: rotateY(90deg) rotate(-90deg) translateZ(0px) translateY(-70px);
    -webkit-text-stroke: .1px #fae100;
    animation: glich 2800ms infinite;
    text-shadow:
    0 0 30px #ffe500;
}
@keyframes glich {
    0%{
        /* text-shadow:
        0 0 30px #ffe500,
        0 0 40px #A2EB04; */
    }
    20%{
        transform: rotateY(90deg) rotate(-90deg) translateZ(0px) translateY(-150px);
        opacity:.7;
        
    }
    100%{
        /* text-shadow:
        0 0 30px #ffe500,
        0 0 40px #A2EB04; */
        
        
    }
}
.top h2:hover{
    font-family: 'Glich';
    -webkit-text-stroke: .1px #c3f4ff;
    -webkit-text-fill-color: transparent;
    text-shadow:
    -5px -5px 20px #ff41c6,
    5px 5px 5px #09daff,
    0px 0px 75px #ffffff;
    opacity: 1;
    animation-play-state: paused;
}

/* .top h2:nth-child(1){
    transform: translateX(35px) rotate(90deg);
    filter: blur(10px); 
} */

.top:before {
    content: '';
    position: absolute;
    width: 120px;
    height: 120px;
    background: #fde932;
    transform: translateZ(-180px);
    filter: blur(20px);
    box-shadow:
    0 0 120px rgba(191, 194, 8, 0.2),
    0 0 200px rgba(246, 243, 38, 0.4),
    0 0 200px rgba(255, 252, 71, 0.6),
    0 0 200px rgba(253, 255, 130, 0.8),
    0 0 200px rgb(254, 255, 184);

    /* 0 0 120px rgba(0,255,0,0.2),
    0 0 200px rgba(0, 225, 0, 0.4),
    0 0 200px rgba(0, 225, 0, 0.6),
    0 0 200px rgba(0, 225, 0, 0.8),
    0 0 200px rgba(0, 225, 0, 1); */
}


