* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --bg-clr : rgba(0,12,2,1);
    --bg-clr-2 : rgba(4,29,15,1);
    --primary-clr : rgba(255,229,0,1);
    --primary-clr-2 : rgba(247,183,24,1);
    --secondary-clr : rgba(0,23,71,1);
    --secondary-clr2 : rgba(1,0,41,1);
    --white-clr : rgba(230,230,230,1);
    --black-clr : rgba(47,47,47,1);

}

body {
    background-color: var(--bg-clr);
    overflow-x: hidden;
}
nav {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px;
}
nav img {
    width: 55px;
    height: 55px;
}
nav ul {
    list-style: none;
    width: 50%;
    display: flex;
    justify-content: space-around;
}
nav li {
    display: inline-block;
}
nav li a {
    font-size: calc(1vmin + .6em);
    text-decoration: none;
    font-family: 'Livvic';
    font-weight: normal;
    font-style: normal;
    letter-spacing: 4.5px;
    color: var(--white-clr);
}
nav li a:hover {
    color: var(--primary-clr-2);
}

.menu {
    display: none;
    flex-direction: column;
    height: 20px;
    justify-content: space-between;
    position: relative;


}
.menu input {
    position: absolute;
    width: 42px;
    height: 30px;
    left: -7px;
    top: -5px;
    opacity: 0;
    cursor: pointer;
    z-index: 2;
}

.menu span {
    display: block;
    width: 28px;
    height: 1.5px;
    border-radius: 2px;
    background-color: var(--primary-clr);
    transition: all 800ms;
}

.menu span:nth-child(2){
    transform-origin: 0 0;
}
.menu span:nth-child(4){
    transform-origin: 0 100%;
}
.menu input:checked ~ span:nth-child(2){
    transform: rotate(45deg);
    background-color: aliceblue;
}
.menu input:checked ~ span:nth-child(3){
    transition: 300ms;
    opacity : 0;
}
.menu input:checked ~ span:nth-child(4){
    transform: rotate(-45deg);
    background-color: aliceblue;
}



@media (max-width: 768px) {
    nav ul { 
        width: 65%;

    }
}

@media (max-width: 568px) {
    .menu {
        display: flex;
    }
    nav ul { 
        position: absolute;
        top: 0;
        right: 0;
        height: 100vh;
        width: 67%;
        align-items: center;
        flex-direction: column;
        background-color: darkolivegreen;
        padding-top: 60px;
        background: rgba(4,29,15,.8);
        transform: translateX(100%);
        transition: all 800ms;
        opacity: 0;
    }
    nav ul.slide {
        opacity: 1;
        transform: translateX(0);
    }
}


.box1 {
    width: 200px;
    height: 200px;
    margin: auto;
    background-color: #fff;
}